.one {
	border: 1px solid black;
	width: 300px;	
	width: max-content;
}

.two {
	border: 15px solid blue;
	margin: 20px;
}

.three {
	background-color: lightblue;
	padding: 50px;
	width: 300px;
	/* border: 1px solid black; */
}

.four {
	width: 300px;
	/* border: 1px solid black; */
	/* padding: 50px; */
}

.five {
	border: 1px dashed  black;
	font-size: xx-small;
}